#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* ----------------- */
*{
    margin: 0;
    padding: 0;
    border: 0px;
}
body{
    overflow-x: hidden;
}
header .header-top {
    height: 30px;
    background: #b7dc36;
}

header .header-top .container {
    height: 30px;
}

header .header-top .row {
    height: 30px;
}

header .header-top .col-md-6 {
    height: 30px;
}

header .header-top .top-left {
    line-height: 30px;
}
header .header-top p {
    font-size: 13px;
    color: white;
}

header .header-top .col-sm-6 {
    height: 30px;
}

header .header-top .top-right {
    height: 30px;
}

header .header-top ul {
    height: 30px;
}
#header-user{
    opacity: 0;
}
header .header-top li {
    float: left;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    padding: 0 5px 0 5px;
    /* color: white; */
}
header .header-top .top-right {
    padding-left: 251px;
}
header .header-top a {
    color: white;
}
.logo{
    margin-top: 45px;
    display: inline-block;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    /* background: transparent; */
    box-sizing: border-box;
}
.header-center.col-md-4{
    max-width: 33.333333%
}
.header-center{
    margin-top: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #333;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.66;
    clear: both;
}

/* end top */

.header-center .header1 .header-banner{
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    max-width: 294px;
    margin: 15px 0px 10px 0px;
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.66;
}
.header2 {
    font-size: 15px;
    padding-top: 11px;
}
ul#header2 {
    list-style: none;
    padding-top: 37px;
    margin-left: -53px;
}

li#header21 {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

li#header21 a {
    color: #333;
    text-decoration: none;
}

li#header21 i.fa.fa-phone {
    color: #b7dc36;
}
li#header21 i.fa.fa-envelope {
    color: #b7dc36;
}
input[type="text"] {
    display: inline-block;
}

.header-input {
    display: inline-block;
    /* width: 69%; */
    /* padding: 0px; */
}

.header3 input[type="text"] {
    width: 270px;
    height: 35px;
    background: #f2f2f2;
}

.header3 button {
    height: 35px;
    width: 50px;
}

.header3 button {
    color: white;
    background: #b7dc36;
}

/* end center */


.header-footer{
    height: 50px;
}
.header-footer .container{
    height: 50px;
}
.header-footer .container ul.menu{
    list-style: none;
    display: block;
    text-align: center;
    position: relative;
}
.header-footer .container ul.menu li{
    display: inline-block;
    padding: 0px 15px 0px 0px;
    position: relative;
    line-height: 50px;
}
.header-footer .container ul.menu li a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}
.header-footer .container ul.menu li div.menutable{
    z-index: 1;
    display: none;
    background: white;
     width: 265px;
     height: 90px;
     position: absolute;   
}
.header-footer .container ul.menu li div.menutable ul li a:hover{
    color: #b7dc36;
}
.header-footer .container ul.menu li#menu a#menu:hover {
    color: #b7dc36;
    border-top: 5px solid #b7dc36;
    padding-top: 9px;
}
.header-footer2{
    display: none;
}
.header-footer .container ul.menu li:hover >div.menutable{
    display: block;
    border: 1px;
}
.header-footer-icon {
    float: right;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    /* width: 1em; */
    text-align: center;
    font-variant: normal;
    text-transform: none;
    /* line-height: 1em; */
    font-size: 23px;
    line-height: 50px;
    color: #333;
}

.header-footer i.fa.fa-refresh {
    padding: 20px;
}


/* end header */
/* ---------------------table-1-------------------- */
main .table-1 {
    position: relative;
    height: 260px;
}

main .table-1 #table1-img{
    width: 100%;
    height: 250px;
}
.table1-2 {
    margin-top: -150px;
    text-align: center;
    font-size: 25px;
}

.table1-2 ol {
    line-height: none;
    text-decoration: none;
    list-style: none;
}

 .table1-2 ol li {
    display: inline-block;
    text-decoration: none;
}
 .table1-2 ol li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
 }
 li#organic1 {
    color: #777;
    font-weight: bold;
}

li#organic2 {
    color: #f7b111;
    font-weight: bold;
    font-size: 23px;
}

/* --------------end tabl1-1--------------------- */

.table-2 .info-contact {
    width: 900px;
    height: 120px;
    background-color: #2c2c2c;
    color: #fff !important;
    margin: 0 auto;
    font-size: 15px;
    position: relative;
    top: 46px;
    z-index: 2;
    font-family: Roboto;
    padding: 30px 0;
}
.info-contact1.col-xs-12.col-sm-4 {
    display: inline-flex;
}

i#contact1 {
    font-size: 30px;
    padding-right: 13px;
    padding-left: 15px;
}
ul.ul-contact1 {
    list-style: none;
    line-height: 20px;
    position: relative;
    margin-bottom: 0;
    width: 200px;
}

.info-contact2.col-xs-12.col-sm-4 {
    display: inline-flex;
}
ul.ul-contact2 {
    list-style: none;
    line-height: 20px;
    position: relative;
}


.info-contact3.col-xs-12.col-sm-4 {
    display: inline-flex;
}
ul.ul-contact3 {
    list-style: none;
    line-height: 20px;
    position: relative;
    width: 200px;
}
ul.ul-contact3 li a{
    text-decoration: none;
    color: white;
}
.line2{
    position: absolute;
    top: 2%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: calc(100% - 30px);
    z-index: 0;
    border-top: 1px solid rgb(229, 229, 229);
    margin: 0px auto;
}
.table-21 {
    line-height: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.table-21 h3{
    padding: 0px 20px;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: rgb(255, 255, 255);
}
div#table-21 {
    float: left;
}

div#table-22 {
    float: left;
}

input[type="text"] {
    display: inline-block;
    border: 1px solid #e5e5e5;
    background: #fff;
    height: 50px;
    padding: 5px;
    text-align: left;
    width: 100%;
    border-radius: 5px;
}

.form_group {
    margin-bottom: 15px;
}
textarea {
    border-radius: 5px;
    padding: 22px 15px;
    border: 1px solid #e5e5e5;
    height: auto;
    display: block;
    font-size: 14px;
    width: 100%;
}
div#code {
    display: inline-flex;
}

img#form-img {
    margin-right: 60px;
}

i#form-icon {
    margin-top: 6px;
    margin-right: 10px;
    font-size: 20px;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    color: #999;
}
input#code2 {
    width: 316px;
}

.btn-submit {
    margin-top: 15px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    color: #fff;
    background-color: #b7dc36;
}
#btn:hover{
    background-color: #f5b571;
}
/* ------------------end table-2-------- */
.table-5 {
    margin-top: 55px;
}
/* ---------------end table-5-------- */
.table-7{
    background-image: url('../img-test/anh2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: inherit;
    padding: 30px 0px;
    margin-top: 60px;
}

input.form-control.search-suggestion {
    width: 450px;
    border-radius: 0px;
    height: 50px;
    margin-top: 41px;
}
h2.title-custom {
    margin-top: 46px;
}
input.btn.btn-send-reg-email {
    border: 1px solid #b7dc36;
    background: #b7dc36;
    color: white;
    height: 50px;
    margin-top: -4px;
    margin-left: -5px;
    border-radius: 0px;
}
/* -------------------------end table-7--------------- */
.footer-left-1{ 
    color: black;
}
.footer-left-2{
    color: black;
}
.footer-left-2 ul{
    text-decoration: none;
    list-style: none;
}
.footer-left-2 ul li{
    float: left;
    padding: 0px 15px 0px 5px;
}
i#footer-face {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #3b5998;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-twitter {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #1da1f2;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-google {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #db4437;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-pinter {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #dc121a;
    border-radius: 50px;
    line-height: 39px;
}
.footer-3{
    color: black;
}
.footer-4{
    color: black;
    font-size: 15px;
}
.footer-5{
    color: black;
}
.footer-6 img{
    float: left;
    padding: 0px 10px 0px 10px;
}
.footer-7{
    color: #333;
}
.footer7-1{
    margin:20px 20px;
    padding: 5px 10px 15px 19px;
}
.footer7-1 h5{
    font-size: 1.25rem;
}
.footer7-1 h4{
    font-size: 1.25rem;
}
span.icon-8 {
    margin-left: -17px;
}
.footer-left-1 h4{
    color: black;
}
.footer-3 h4{
    color: black;
}
.footer-5 h4{
    color: black;
}
h5 {
    color: #999999;
}

h4 {
    color: #999;
}

